pkgbase = oled-screensaver
	pkgdesc = OLED-safe black screensaver for Ubuntu/GNOME (Wayland + X11)
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/simonpanigrahi/Ubuntu-Screensaver
	arch = any
	license = MIT
	depends = bash
	depends = python-gobject
	depends = gtk3
	source = oled-screensaver-1.0.0.tar.gz::https://github.com/simonpanigrahi/Ubuntu-Screensaver/archive/refs/tags/v1.0.0.tar.gz
	sha256sums = e053473062f2ee9f57ec26f9d4952e349d5dd3addc791c45f7a798cf82a9f41e

pkgname = oled-screensaver
